[submodule "external/cpp-utility"]
	path = external/cpp-utility
	url = git@github.com:dbgroup-nagoya-u/cpp-utility.git
[submodule "test/external/index-fixtures"]
	path = test/external/index-fixtures
	url = git@github.com:dbgroup-nagoya-u/202204-multi-version-index-fixtures-kuwamura.git
[submodule "external/memory-manager"]
	path = external/memory-manager
	url = https://github.com/dbgroup-nagoya-u/memory-manager.git
